In [1]:
import os
import pandas as pd

In [2]:
# Import support data to normalize country name

In [3]:
df_synonym = pd.read_csv('./Resources/Data/country/country_synonym.csv')
df_country = pd.read_csv('./Resources/Data/country/country.csv')

In [4]:
# Import group of data without lat / Lon columns

In [5]:
baseFolder = './Resources/Data/1'

In [6]:
df_list = []
for root, dirs, files in os.walk(baseFolder):
    for nm in files:
        thefile = os.path.join(root, nm)
        df = pd.read_csv(thefile)
        df['Date'] = nm.split('.')[0]

        df_list.append(df)

df_results_1 = pd.concat(df_list)

In [7]:
df_results_1

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Date
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,01-22-2020
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN,01-22-2020
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN,01-22-2020
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,01-22-2020
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN,01-22-2020
...,...,...,...,...,...,...,...
114,"Tempe, AZ",US,2020-02-25T21:23:03,1.0,0.0,1.0,02-29-2020
115,From Diamond Princess,Australia,2020-02-29T02:03:10,0.0,0.0,0.0,02-29-2020
116,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0,02-29-2020
117,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0,02-29-2020
118,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0.0,0.0,0.0,02-29-2020

In [8]:
# Find country

In [9]:
df_data_1 = pd.merge(df_results_1, df_synonym, left_on='Country/Region', right_on='Synonym', how='left')

In [10]:
missing_1 = df_data_1[df_data_1['Country_Id'].isnull()==True]
missing_1

Empty DataFrame
Columns: [Province/State, Country/Region, Last Update, Confirmed, Deaths, Recovered, Date, Country_Id, Synonym_Id, Synonym]
Index: []

In [12]:
df_1 = pd.merge(df_data_1, df_country, left_on='Country_Id', right_on='Country_Id', how='inner')

In [13]:
df_1

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Date,Country_Id,Synonym_Id,Synonym,Name,ISO_2,ISO_3,Lat,Lon,Population
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,01-22-2020,156,256,Mainland China,China,CN,CHN,NaN,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN,01-22-2020,156,256,Mainland China,China,CN,CHN,NaN,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN,01-22-2020,156,256,Mainland China,China,CN,CHN,NaN,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,01-22-2020,156,256,Mainland China,China,CN,CHN,NaN,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN,01-22-2020,156,256,Mainland China,China,CN,CHN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2813,NaN,Nigeria,2020-02-28T16:23:03,1.0,0.0,0.0,02-29-2020,566,162,Nigeria,Nigeria,NG,NGA,NaN,NaN,NaN
2814,NaN,Ireland,2020-02-29T22:33:03,1.0,0.0,0.0,02-29-2020,372,108,Ireland,Ireland,IE,IRL,NaN,NaN,NaN
2815,NaN,Luxembourg,2020-02-29T21:03:05,1.0,0.0,0.0,02-29-2020,442,131,Luxembourg,Luxembourg,LU,LUX,NaN,NaN,NaN
2816,NaN,Monaco,2020-02-29T00:33:01,1.0,0.0,0.0,02-29-2020,492,147,Monaco,Monaco,MC,MCO,NaN,NaN,NaN
2817,NaN,Qatar,2020-02-29T14:33:03,1.0,0.0,0.0,02-29-2020,634,180,Qatar,Qatar,QA,QAT,NaN,NaN,NaN

In [14]:
df_1.shape

(2818, 16)

In [15]:
df_COVID19_1 = df_1[['Date','Country_Id', 'Country/Region', 'Name','Province/State','Last Update','Confirmed','Deaths',
'Recovered','ISO_2','ISO_3']]

In [16]:
df_COVID19_1.shape

(2818, 11)

In [21]:
df_COVID19_1 = df_COVID19_1.rename(columns={"Name": "ISO_CountryName", "Country_Id": "ISO_CountryID"})

In [22]:
df_COVID19_1

,Date,ISO_CountryID,Country/Region,ISO_CountryName,Province/State,Last Update,Confirmed,Deaths,Recovered,ISO_2,ISO_3
0,01-22-2020,156,Mainland China,China,Anhui,1/22/2020 17:00,1.0,NaN,NaN,CN,CHN
1,01-22-2020,156,Mainland China,China,Beijing,1/22/2020 17:00,14.0,NaN,NaN,CN,CHN
2,01-22-2020,156,Mainland China,China,Chongqing,1/22/2020 17:00,6.0,NaN,NaN,CN,CHN
3,01-22-2020,156,Mainland China,China,Fujian,1/22/2020 17:00,1.0,NaN,NaN,CN,CHN
4,01-22-2020,156,Mainland China,China,Gansu,1/22/2020 17:00,NaN,NaN,NaN,CN,CHN
...,...,...,...,...,...,...,...,...,...,...,...
2813,02-29-2020,566,Nigeria,Nigeria,NaN,2020-02-28T16:23:03,1.0,0.0,0.0,NG,NGA
2814,02-29-2020,372,Ireland,Ireland,NaN,2020-02-29T22:33:03,1.0,0.0,0.0,IE,IRL
2815,02-29-2020,442,Luxembourg,Luxembourg,NaN,2020-02-29T21:03:05,1.0,0.0,0.0,LU,LUX
2816,02-29-2020,492,Monaco,Monaco,NaN,2020-02-29T00:33:01,1.0,0.0,0.0,MC,MCO
2817,02-29-2020,634,Qatar,Qatar,NaN,2020-02-29T14:33:03,1.0,0.0,0.0,QA,QAT

In [23]:
df_COVID19_1.to_csv('./Resources/Data/COVID19_2020_Jan_Feb.csv')

In [24]:
baseFolder = './Resources/Data/2'

In [25]:
df_list = []
for root, dirs, files in os.walk(baseFolder):
    for nm in files:
        thefile = os.path.join(root, nm)
        df = pd.read_csv(thefile)
        df['Date'] = nm.split('.')[0]

        df_list.append(df)

df_results_2 = pd.concat(df_list)

In [26]:
df_results_2

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Date
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707,03-01-2020
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000,03-01-2020
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000,03-01-2020
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244,03-01-2020
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140,03-01-2020
...,...,...,...,...,...,...,...,...,...
279,NaN,Guernsey,2020-03-17T18:33:03,0,0,0,49.4500,-2.5800,03-18-2020
280,NaN,Jersey,2020-03-17T18:33:03,0,0,0,49.1900,-2.1100,03-18-2020
281,NaN,Puerto Rico,2020-03-17T16:13:14,0,0,0,18.2000,-66.5000,03-18-2020
282,NaN,Republic of the Congo,2020-03-17T21:33:03,0,0,0,-1.4400,15.5560,03-18-2020
283,NaN,The Gambia,2020-03-18T14:13:56,0,0,0,13.4667,-16.6000,03-18-2020

In [27]:
df_data_2 = pd.merge(df_results_2, df_synonym, left_on='Country/Region', right_on='Synonym', how='left')

In [28]:
df_data_2.shape

(3904, 12)

In [30]:
missing = df_data_2[df_data_2['Country_Id'].isnull()==True]

In [24]:
missing

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Date,Country_Id,Synonym_Id,Synonym
1867,NaN,Channel Islands,2020-03-10T05:33:02,1,0,0,49.3723,-2.3644,03-10-2020,NaN,NaN,NaN

In [32]:
df_2 = pd.merge(df_data_2, df_country, left_on='Country_Id', right_on='Country_Id', how='inner')

In [33]:
df_COVID19 = df_2[['Date','Country_Id', 'Country/Region', 'Name','Province/State','Last Update','Confirmed','Deaths',
'Recovered','Latitude','Longitude','ISO_2','ISO_3']]

In [35]:
df_COVID19_2 = df_COVID19.rename(columns={"Name": "ISO_CountryName", "Country_Id": "ISO_CountryID"})

In [36]:
df_COVID19_2

,Date,ISO_CountryID,Country/Region,ISO_CountryName,Province/State,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,ISO_2,ISO_3
0,03-01-2020,156.0,Mainland China,China,Hubei,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707,CN,CHN
1,03-01-2020,156.0,Mainland China,China,Guangdong,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244,CN,CHN
2,03-01-2020,156.0,Mainland China,China,Henan,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140,CN,CHN
3,03-01-2020,156.0,Mainland China,China,Zhejiang,2020-03-01T10:13:33,1205,1,1046,29.1832,120.0934,CN,CHN
4,03-01-2020,156.0,Mainland China,China,Hunan,2020-03-01T10:03:03,1018,4,866,27.6104,111.7088,CN,CHN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3898,03-18-2020,270.0,The Gambia,Gambia (the),NaN,2020-03-18T14:13:56,0,0,0,13.4667,-16.6000,GM,GMB
3899,03-18-2020,417.0,Kyrgyzstan,Kyrgyzstan,NaN,2020-03-18T11:53:04,3,0,0,41.2044,74.7661,KG,KGZ
3900,03-18-2020,480.0,Mauritius,Mauritius,NaN,2020-03-18T19:53:03,3,0,0,-20.2000,57.5000,MU,MUS
3901,03-18-2020,894.0,Zambia,Zambia,NaN,2020-03-18T14:33:15,2,0,0,-15.4167,28.2833,ZM,ZMB
3902,03-18-2020,262.0,Djibouti,Djibouti,NaN,2020-03-18T12:33:03,1,0,0,11.8251,42.5903,DJ,DJI

In [37]:
df_COVID19_2.to_csv('./Resources/Data/COVID19_2020_Mar.csv')